body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    width: 98vw;
    background-color: salmon;
}

#calculator {
    border: solid 4px black;
    border-radius: 10px;
    width: 400px;
    height: 600px;
    background-color: rgb(17, 108, 138);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 5px rgb(17, 17, 17);
}

.row {
    display: flex;
    justify-content: center;
    width: 280px;
}

.numberButton, .operatorButton {
    padding: 10px 25px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: salmon;
    cursor: pointer;
    box-shadow: 2px 3px;
}

.numberButton:hover, .operatorButton:hover {
    background-color: rgb(218, 110, 98);
}

.numberButton:active, .operatorButton:active {
    box-shadow: 2px 2px;
    transform: translateY(2px);
}

#screen {
    border: 3px solid black;
    padding: 20px;
    height: 80px;
    width: 280px;
    margin: 20px;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.733);
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#bottom {
    margin-bottom: 15px;
}

.clearButton {
    padding: 10px 50px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: salmon;
    cursor: pointer;
    box-shadow: 2px 3px;
}

.clearButton:active {
    box-shadow: 2px 2px;
    transform: translateY(2px);
}

.clearButton:hover {
    background-color: rgb(218, 110, 98);
}

#top {
    justify-content: end;
}